<div class="page">

  <h2 class="contract-title">
    Contract {{ contract?.contractNumber }}
  </h2>

  <div class="contract-container">

    <div class="contract-body"
       [innerHTML]="contract?.contractBody">
    </div>

  </div>


<h3 class="signature-title" *ngIf="!signed">Semnătura dvs.</h3>

<canvas *ngIf="!signed"
        #canvas
        width="600"
        height="200"
        (mousedown)="startDrawing($event)"
        (mousemove)="draw($event)"
        (mouseup)="stopDrawing()"
        (mouseleave)="stopDrawing()">
</canvas>

<div class="buttons" *ngIf="!signed">

  <button class="btn-secondary" (click)="clear()">
    🗑 Șterge
  </button>

  <button class="btn-primary" (click)="sign()" [disabled]="loading">
    ✍️ Semnează contractul
  </button>

</div>

<!-- SUCCESS -->
<div *ngIf="signed" class="success">
  ✅ Contract semnat cu succes!
</div>

</div>