################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ERPSystem/.vs/ERPSystem.slnx/FileContentIndex
