################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ERPSystem/.vs/ERPSystem.slnx/FileContentIndex

# Visual Studio
.vs/

# Build folders
bin/
obj/

# Pentru toate proiectele din soluție (recursiv)
**/bin/
**/obj/
**/.vs/
ERPSystem/.vs/ERPSystem.slnx/v18/.futdcache.v2
*.v2
/ERPSystem/.vs
/ERPSystem/.vs/ERPSystem.slnx
ERPSystem/.vs/ERPSystem.slnx/v18/.futdcache.v2
ERPSystem/.vs/ERPSystem.slnx/v18/.futdcache.v2
ERPSystem/.vs/ERPSystem.slnx/v18/.suo
ERPSystem/.vs/ERPSystem.slnx/v18/DocumentLayout.backup.json
ERPSystem/.vs/ProjectEvaluation/erpsystem.metadata.v10.bin
/ERPSystem/.vs/ProjectEvaluation
ERPSystem/.vs/ProjectEvaluation/erpsystem.projects.v10.bin
ERPSystem/.vs/ProjectEvaluation/erpsystem.metadata.v10.bin
ERPSystem/.vs/ProjectEvaluation/erpsystem.projects.v10.bin
