USE [master]
GO
/****** Object:  Database [ERP_EduManager]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE DATABASE [ERP_EduManager]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ERP_EduManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ERP_EduManager]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityLog]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EntityType] [nvarchar](450) NOT NULL,
	[EntityId] [nvarchar](450) NOT NULL,
	[Action] [nvarchar](max) NOT NULL,
	[Changes] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[PerformedBy] [nvarchar](max) NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ActivityLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[MustChangePassword] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[LastLoginIp] [nvarchar](max) NULL,
	[BirthdayDate] [datetime2](7) NULL,
	[AvatarUrl] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanySettings]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanySettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CUI] [nvarchar](max) NOT NULL,
	[RegistrationNumber] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[IBAN] [nvarchar](max) NOT NULL,
	[Bank] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[LogoPath] [nvarchar](max) NULL,
	[SignatureImage] [nvarchar](max) NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CompanySettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractAdditionalAct]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractAdditionalAct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContractId] [int] NOT NULL,
	[ActNumber] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[AppliedAtUtc] [datetime2](7) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Body] [nvarchar](max) NULL,
	[ClientSignature] [nvarchar](max) NULL,
	[AdminSignature] [nvarchar](max) NULL,
	[ClientSignedAtUtc] [datetime2](7) NULL,
	[AdminSignedAtUtc] [datetime2](7) NULL,
	[PdfPath] [nvarchar](max) NULL,
 CONSTRAINT [PK_ContractAdditionalAct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractAdditionalActItem]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractAdditionalActItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActId] [int] NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[CourseSessionId] [int] NULL,
	[StudentId] [int] NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_ContractAdditionalActItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractCourses]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractCourses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContractId] [int] NOT NULL,
	[CourseSessionId] [int] NOT NULL,
	[CourseNameSnapshot] [nvarchar](200) NOT NULL,
	[SessionNameSnapshot] [nvarchar](200) NOT NULL,
	[PriceSnapshot] [decimal](18, 2) NOT NULL,
	[FeeType] [int] NOT NULL,
 CONSTRAINT [PK_ContractCourses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractDiscounts]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractDiscounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContractId] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[Value] [decimal](18, 2) NOT NULL,
	[Reason] [nvarchar](300) NOT NULL,
	[Scope] [int] NOT NULL,
	[MarketingCampaignId] [int] NULL,
 CONSTRAINT [PK_ContractDiscounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractInstallments]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractInstallments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContractId] [int] NOT NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaidAmount] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_ContractInstallments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractParties]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractParties](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContractId] [int] NOT NULL,
	[StudentId] [int] NULL,
	[GuardianId] [int] NULL,
	[Role] [int] NOT NULL,
 CONSTRAINT [PK_ContractParties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractPriceAdjustments]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractPriceAdjustments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContractId] [int] NOT NULL,
	[CourseSessionId] [int] NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Type] [int] NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ContractPriceAdjustments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContractTemplates]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractTemplates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ContractTemplates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseEnrollments]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseEnrollments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[CourseSessionId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[EnrolledAtUtc] [datetime2](7) NOT NULL,
	[EndedAtUtc] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[ContractId] [int] NULL,
 CONSTRAINT [PK_CourseEnrollments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseReviews]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseReviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseSessionId] [int] NOT NULL,
	[FeedbackFormId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[CourseStructureRating] [int] NULL,
	[CoursePaceRating] [int] NULL,
	[MaterialsRating] [int] NULL,
	[TeacherClarityRating] [int] NULL,
	[TeacherEngagementRating] [int] NULL,
	[TeacherSupportRating] [int] NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[Sentiment] [nvarchar](max) NULL,
	[SentimentScore] [float] NULL,
	[PositivePercent] [int] NULL,
	[NegativePercent] [int] NULL,
	[NeutralPercent] [int] NULL,
	[Emotion] [nvarchar](max) NULL,
	[Keywords] [nvarchar](max) NULL,
	[TopicsJson] [nvarchar](max) NULL,
	[TeacherScore] [float] NULL,
	[CourseScore] [float] NULL,
	[BehaviorScore] [float] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[AnalyzedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_CourseReviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseSessions]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseSessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[Capacity] [int] NULL,
	[Title] [nvarchar](max) NOT NULL,
	[FeeType] [int] NOT NULL,
	[Fee] [decimal](18, 2) NOT NULL,
	[TotalSessions] [int] NULL,
	[DayOfWeek] [int] NOT NULL,
	[TeacherUserId] [nvarchar](450) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_CourseSessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailLogs]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[ReferenceId] [int] NULL,
	[Subject] [nvarchar](max) NOT NULL,
	[HtmlContent] [nvarchar](max) NOT NULL,
	[RecipientMode] [nvarchar](max) NULL,
	[TotalRecipients] [int] NOT NULL,
	[SentCount] [int] NOT NULL,
	[FailedCount] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[SentAt] [datetime2](7) NULL,
 CONSTRAINT [PK_EmailLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailRecipientLogs]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailRecipientLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmailLogId] [int] NOT NULL,
	[StudentId] [int] NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsSent] [bit] NOT NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[SentAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EmailRecipientLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailTemplates]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailTemplates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TemplateCode] [nvarchar](max) NOT NULL,
	[Subject] [nvarchar](max) NOT NULL,
	[HtmlContent] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_EmailTemplates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeAddress]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeAddress](
	[Id] [uniqueidentifier] NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[Street] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[Country] [nvarchar](max) NOT NULL,
	[PostalCode] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_EmployeeAddress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeBank]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeBank](
	[Id] [uniqueidentifier] NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[IBAN] [nvarchar](max) NOT NULL,
	[BankName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_EmployeeBank] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeContact]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeContact](
	[Id] [uniqueidentifier] NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[EmergencyContactName] [nvarchar](max) NULL,
	[EmergencyContactPhone] [nvarchar](max) NULL,
 CONSTRAINT [PK_EmployeeContact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeDocuments]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDocuments](
	[Id] [uniqueidentifier] NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[ContentType] [nvarchar](max) NOT NULL,
	[DocumentType] [nvarchar](max) NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[UploadedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_EmployeeDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeLeaves]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeLeaves](
	[Id] [uniqueidentifier] NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[LeaveType] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[ApprovedBy] [nvarchar](max) NULL,
	[ReasonUpdate] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EmployeeLeaves] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[HireDate] [datetime2](7) NOT NULL,
	[TerminationDate] [datetime2](7) NULL,
	[JobTitle] [nvarchar](150) NOT NULL,
	[EmploymentStatus] [nvarchar](50) NULL,
	[Salary] [decimal](18, 2) NULL,
	[ContractType] [nvarchar](50) NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[VacationDaysPerYear] [int] NOT NULL,
	[CarryOverDays] [int] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExternalReviews]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExternalReviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Source] [nvarchar](max) NOT NULL,
	[TargetType] [nvarchar](max) NOT NULL,
	[TargetId] [nvarchar](max) NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[Sentiment] [nvarchar](max) NULL,
	[SentimentScore] [float] NULL,
	[PositivePercent] [int] NULL,
	[NegativePercent] [int] NULL,
	[NeutralPercent] [int] NULL,
	[Emotion] [nvarchar](max) NULL,
	[Keywords] [nvarchar](max) NULL,
	[TopicsJson] [nvarchar](max) NULL,
	[PublicPerceptionScore] [float] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[AnalyzedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ExternalReviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedbackForms]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedbackForms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NULL,
	[CourseSessionId] [int] NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
	[ExpiresAt] [datetime2](7) NULL,
 CONSTRAINT [PK_FeedbackForms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guardians]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guardians](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](80) NOT NULL,
	[LastName] [nvarchar](80) NOT NULL,
	[Email] [nvarchar](120) NOT NULL,
	[Phone] [nvarchar](30) NOT NULL,
	[Address] [nvarchar](250) NULL,
	[PersonalIdentificationNumber] [nvarchar](50) NULL,
	[HasSignedConsent] [bit] NOT NULL,
	[ConsentSignedAtUtc] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Guardians] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarketingCampaignCourseSessions]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarketingCampaignCourseSessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MarketingCampaignId] [int] NOT NULL,
	[CourseSessionId] [int] NOT NULL,
 CONSTRAINT [PK_MarketingCampaignCourseSessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarketingCampaigns]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarketingCampaigns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DiscountType] [int] NOT NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
	[DiscountScope] [int] NOT NULL,
 CONSTRAINT [PK_MarketingCampaigns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[EventType] [nvarchar](100) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[Type] [nvarchar](30) NOT NULL,
	[Link] [nvarchar](500) NULL,
	[EntityType] [nvarchar](100) NULL,
	[EntityId] [nvarchar](100) NULL,
	[IsRead] [bit] NOT NULL,
	[SeenAt] [datetime2](7) NULL,
	[ReadAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContractId] [int] NOT NULL,
	[InstallmentId] [int] NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaidAtUtc] [datetime2](7) NOT NULL,
	[Method] [nvarchar](max) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[Reference] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublicHolidays]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicHolidays](
	[Id] [uniqueidentifier] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Country] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PublicHolidays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SigningTokens]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SigningTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[ExpiresAtUtc] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[EntityType] [int] NOT NULL,
	[EntityId] [int] NOT NULL,
 CONSTRAINT [PK_SigningTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentContracts]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentContracts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContractNumber] [nvarchar](50) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NULL,
	[IsUnlimited] [bit] NOT NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[MonthlyAmount] [decimal](18, 2) NOT NULL,
	[Installments] [int] NOT NULL,
	[Status] [nvarchar](450) NOT NULL,
	[ContractBody] [nvarchar](max) NULL,
	[PdfPath] [nvarchar](500) NULL,
	[IsBodyCustomized] [bit] NOT NULL,
	[ClientSignature] [nvarchar](max) NULL,
	[ClientSignedAtUtc] [datetime2](7) NULL,
	[AdminSignature] [nvarchar](max) NULL,
	[AdminSignedAtUtc] [datetime2](7) NULL,
	[CompanyNameSnapshot] [nvarchar](max) NOT NULL,
	[CompanyAddressSnapshot] [nvarchar](max) NOT NULL,
	[CompanyCuiSnapshot] [nvarchar](max) NOT NULL,
	[CompanyRegistrationSnapshot] [nvarchar](max) NOT NULL,
	[CompanyIbanSnapshot] [nvarchar](max) NOT NULL,
	[CompanyBankSnapshot] [nvarchar](max) NOT NULL,
	[CompanyEmailSnapshot] [nvarchar](max) NOT NULL,
	[CompanyPhoneSnapshot] [nvarchar](max) NOT NULL,
	[BeneficiaryNameSnapshot] [nvarchar](max) NOT NULL,
	[BeneficiaryEmailSnapshot] [nvarchar](max) NOT NULL,
	[BeneficiaryPhoneSnapshot] [nvarchar](max) NOT NULL,
	[BeneficiaryAddressSnapshot] [nvarchar](max) NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
	[FinalizedAtUtc] [datetime2](7) NULL,
	[ActivatedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_StudentContracts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentEvaluations]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentEvaluations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CourseSessionId] [int] NOT NULL,
	[TeacherUserId] [nvarchar](max) NOT NULL,
	[Rating] [int] NOT NULL,
	[AttendanceScore] [int] NULL,
	[BehaviorScore] [int] NULL,
	[ProgressScore] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[Sentiment] [nvarchar](max) NULL,
	[SentimentScore] [float] NULL,
	[PositivePercent] [int] NULL,
	[NegativePercent] [int] NULL,
	[NeutralPercent] [int] NULL,
	[Emotion] [nvarchar](max) NULL,
	[Keywords] [nvarchar](max) NULL,
	[TopicsJson] [nvarchar](max) NULL,
	[StudentRiskScore] [float] NULL,
	[BehaviorScoreNlp] [float] NULL,
	[ProgressScoreNlp] [float] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[AnalyzedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_StudentEvaluations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentGuardians]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentGuardians](
	[StudentId] [int] NOT NULL,
	[GuardianId] [int] NOT NULL,
	[RelationshipType] [nvarchar](50) NOT NULL,
	[IsPrimaryContact] [bit] NOT NULL,
 CONSTRAINT [PK_StudentGuardians] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[GuardianId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](120) NOT NULL,
	[FirstName] [nvarchar](80) NULL,
	[LastName] [nvarchar](80) NULL,
	[Email] [nvarchar](120) NULL,
	[Phone] [nvarchar](30) NULL,
	[Address] [nvarchar](250) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAtUtc] [datetime2](7) NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserNotificationSettings]    Script Date: 5/10/2026 7:26:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNotificationSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[EventType] [nvarchar](60) NOT NULL,
	[Channel] [nvarchar](450) NOT NULL,
	[Enabled] [bit] NOT NULL,
	[Digest] [nvarchar](max) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserNotificationSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260510145227_InitialCreate', N'10.0.7')
GO
SET IDENTITY_INSERT [dbo].[ActivityLog] ON 

GO
SET IDENTITY_INSERT [dbo].[ActivityLog] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'7A763236-8A04-4A4F-86BD-5247A733BE1D', N'Secretary', N'SECRETARY', N'FBE34118-9E3A-449D-81C7-8402669A6D3B')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'87BBAE40-95BF-455C-AD43-556B160286CB', N'Teacher', N'TEACHER', N'7B33EF97-0DC9-472C-9E7B-9D3B9BE60691')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'88DE9B2C-5883-4C55-88C6-777F0B622FC8', N'HR', N'HR', N'8117266C-A229-495D-A96B-8764E3F91A66')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'97cd2093-d124-4f50-9499-c7bc4374809c', N'87BBAE40-95BF-455C-AD43-556B160286CB')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'97cd2093-d124-4f50-9499-c7bc4374809c', N'A70F7796-62D3-4A3F-A3FB-1CB18EB86F88')
GO
SET IDENTITY_INSERT [dbo].[CompanySettings] ON 

INSERT [dbo].[CompanySettings] ([Id], [Name], [CUI], [RegistrationNumber], [Address], [IBAN], [Bank], [Email], [Phone], [LogoPath], [SignatureImage], [UpdatedAtUtc]) VALUES (1, N'EduManager Solutions SRL', N'RO45217896', N'J40/15432/2024', N'Strada Aviatorilor nr. 18, București, România', N'RO49BTRLONCRT05678412345', N'Banca Transilvania', N'contact@edumanager.ro', N'+40 721 456 789', NULL, NULL, CAST(N'2026-05-10T16:15:29.2243270' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CompanySettings] OFF
GO
SET IDENTITY_INSERT [dbo].[ContractAdditionalAct] ON 

SET IDENTITY_INSERT [dbo].[ContractAdditionalAct] OFF
GO
SET IDENTITY_INSERT [dbo].[ContractAdditionalActItem] ON 

INSERT [dbo].[ContractAdditionalActItem] ([Id], [ActId], [Type], [CourseSessionId], [StudentId], [OldValue], [NewValue]) VALUES (2, 1, N'ExtendPeriod', NULL, NULL, NULL, N'2026-09-30')
INSERT [dbo].[ContractAdditionalActItem] ([Id], [ActId], [Type], [CourseSessionId], [StudentId], [OldValue], [NewValue]) VALUES (3, 1, N'IncreasePrice', 1, NULL, NULL, N'30.00')
SET IDENTITY_INSERT [dbo].[ContractAdditionalActItem] OFF
GO
SET IDENTITY_INSERT [dbo].[ContractCourses] ON 

INSERT [dbo].[ContractCourses] ([Id], [ContractId], [CourseSessionId], [CourseNameSnapshot], [SessionNameSnapshot], [PriceSnapshot], [FeeType]) VALUES (1, 1, 1, N'English Conversation B2', N'English Conversation B2 - Luni', CAST(200.00 AS Decimal(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[ContractCourses] OFF
GO
SET IDENTITY_INSERT [dbo].[ContractDiscounts] ON 

INSERT [dbo].[ContractDiscounts] ([Id], [ContractId], [Type], [Value], [Reason], [Scope], [MarketingCampaignId]) VALUES (1, 1, 1, CAST(15.00 AS Decimal(18, 2)), N'Campanie marketing: Cupon reducere mai 2026', 2, 1)
SET IDENTITY_INSERT [dbo].[ContractDiscounts] OFF
GO
SET IDENTITY_INSERT [dbo].[ContractInstallments] ON 

INSERT [dbo].[ContractInstallments] ([Id], [ContractId], [DueDate], [Amount], [PaidAmount], [Status]) VALUES (1, 1, CAST(N'2026-05-01T00:00:00.0000000' AS DateTime2), CAST(170.00 AS Decimal(18, 2)), CAST(170.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[ContractInstallments] ([Id], [ContractId], [DueDate], [Amount], [PaidAmount], [Status]) VALUES (2, 1, CAST(N'2026-05-10T00:00:00.0000000' AS DateTime2), CAST(200.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[ContractInstallments] ([Id], [ContractId], [DueDate], [Amount], [PaidAmount], [Status]) VALUES (3, 1, CAST(N'2026-06-10T00:00:00.0000000' AS DateTime2), CAST(200.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[ContractInstallments] OFF
GO
SET IDENTITY_INSERT [dbo].[ContractParties] ON 

INSERT [dbo].[ContractParties] ([Id], [ContractId], [StudentId], [GuardianId], [Role]) VALUES (1, 1, NULL, 1, 1)
INSERT [dbo].[ContractParties] ([Id], [ContractId], [StudentId], [GuardianId], [Role]) VALUES (2, 1, 1, NULL, 0)
SET IDENTITY_INSERT [dbo].[ContractParties] OFF
GO
SET IDENTITY_INSERT [dbo].[ContractPriceAdjustments] ON 

INSERT [dbo].[ContractPriceAdjustments] ([Id], [ContractId], [CourseSessionId], [Amount], [Type], [Reason], [CreatedAtUtc]) VALUES (1, 1, 1, CAST(30.00 AS Decimal(18, 2)), 1, N'Act adițional AA-2026-72735', CAST(N'2026-05-10T16:21:26.6905535' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ContractPriceAdjustments] OFF
GO
SET IDENTITY_INSERT [dbo].[ContractTemplates] ON 

SET IDENTITY_INSERT [dbo].[ContractTemplates] OFF
GO
SET IDENTITY_INSERT [dbo].[CourseEnrollments] ON 

INSERT [dbo].[CourseEnrollments] ([Id], [CourseId], [CourseSessionId], [StudentId], [EnrolledAtUtc], [EndedAtUtc], [IsActive], [ContractId]) VALUES (1, 1, 1, 1, CAST(N'2026-05-10T15:45:13.8375982' AS DateTime2), NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[CourseEnrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[CourseSessions] ON 

INSERT [dbo].[CourseSessions] ([Id], [CourseId], [Capacity], [Title], [FeeType], [Fee], [TotalSessions], [DayOfWeek], [TeacherUserId], [StartTime], [EndTime], [IsActive]) VALUES (1, 1, 12, N'English Conversation B2 - Luni', 2, CAST(200.00 AS Decimal(18, 2)), NULL, 1, N'97cd2093-d124-4f50-9499-c7bc4374809c', CAST(N'18:00:00' AS Time), CAST(N'19:00:00' AS Time), 1)
INSERT [dbo].[CourseSessions] ([Id], [CourseId], [Capacity], [Title], [FeeType], [Fee], [TotalSessions], [DayOfWeek], [TeacherUserId], [StartTime], [EndTime], [IsActive]) VALUES (2, 1, 7, N'English Conversation B2 - Joi', 1, CAST(1200.00 AS Decimal(18, 2)), 5, 4, N'97cd2093-d124-4f50-9499-c7bc4374809c', CAST(N'18:00:00' AS Time), CAST(N'19:00:00' AS Time), 1)
SET IDENTITY_INSERT [dbo].[CourseSessions] OFF
GO
SET IDENTITY_INSERT [dbo].[EmailTemplates] ON 

INSERT [dbo].[EmailTemplates] ([Id], [TemplateCode], [Subject], [HtmlContent], [Description], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'LOGIN_CONFIRMATION', N'Confirmare autentificare', N'<!DOCTYPE html>
<html lang="ro">
<body>
Codul tău de verificare: {{CONFIRMATION_LOGIN_CODE}}<br/>
Acest cod va expira în 5 minute.<br/>
© {{YEAR}} EduManager.
</body>
</html>', N'Email trimis utilizatorului cu codul de verificare pentru autentificare.', 1, CAST(N'2026-01-26T18:20:24.8566667' AS DateTime2), CAST(N'2026-03-05T12:11:07.9133333' AS DateTime2))
INSERT [dbo].[EmailTemplates] ([Id], [TemplateCode], [Subject], [HtmlContent], [Description], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1003, N'FORGOT_PASSWORD', N'Schimbare parola', N'<!DOCTYPE html>
<html lang="ro">
<body>
Salut, {{FIRST_NAME}}<br/>
Resetare parolă: {{FORGOT_PASSWORD_URL}}<br/>
© {{YEAR}} EduManager.
</body>
</html>', N'Email trimis utilizatorului pentru resetarea parolei contului.', 1, CAST(N'2026-01-30T21:22:32.5733333' AS DateTime2), CAST(N'2026-03-05T12:10:34.8600000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[EmailTemplates] OFF
GO
INSERT [dbo].[EmployeeAddress] ([Id], [EmployeeId], [Street], [City], [Country], [PostalCode]) VALUES (N'ea14d0c4-664f-4b13-b6e5-51e54d2ffdd8', N'17239723-9977-4eba-a8dd-f83da1eaa413', N'Strada Unirii 34', N'Bucuresti , sector 6', N'Romania', N'04569')
GO
INSERT [dbo].[EmployeeBank] ([Id], [EmployeeId], [IBAN], [BankName]) VALUES (N'0b7dd6ed-bc4a-463b-8c2c-9b0e2c902425', N'17239723-9977-4eba-a8dd-f83da1eaa413', N'RO49AAAA1B31007593840000', N'BRD')
GO
INSERT [dbo].[EmployeeContact] ([Id], [EmployeeId], [PhoneNumber], [EmergencyContactName], [EmergencyContactPhone]) VALUES (N'baae23a0-8421-4eaa-b5eb-8d1a01d75db4', N'17239723-9977-4eba-a8dd-f83da1eaa413', N'07546556', N'', N'')
GO
INSERT [dbo].[EmployeeDocuments] ([Id], [EmployeeId], [FileName], [FilePath], [ContentType], [DocumentType], [UploadedAt], [UploadedBy]) VALUES (N'840d21d0-5b3b-497f-9208-b19f0eb09df1', N'17239723-9977-4eba-a8dd-f83da1eaa413', N'contract-preview (4).pdf', N'C:\Project\Disertatie_ERP\ERPSystem\ERPSystem\uploads\employees\17239723-9977-4eba-a8dd-f83da1eaa413\990aed4e-7d61-4d0a-b6ff-92fcd9e7cebd.pdf', N'application/pdf', N'Contract', CAST(N'2026-05-10T15:52:39.4007288' AS DateTime2), NULL)
GO
INSERT [dbo].[EmployeeLeaves] ([Id], [EmployeeId], [LeaveType], [StartDate], [EndDate], [Status], [ApprovedBy], [ReasonUpdate], [CreatedAt]) VALUES (N'7322f78d-df81-46aa-8ae1-0213cc03cb02', N'17239723-9977-4eba-a8dd-f83da1eaa413', N'Vacation', CAST(N'2026-05-17T21:00:00.0000000' AS DateTime2), CAST(N'2026-05-21T21:00:00.0000000' AS DateTime2), N'Cancelled', N'97cd2093-d124-4f50-9499-c7bc4374809c', N'greseala', CAST(N'2026-05-10T15:53:46.6861867' AS DateTime2))
INSERT [dbo].[EmployeeLeaves] ([Id], [EmployeeId], [LeaveType], [StartDate], [EndDate], [Status], [ApprovedBy], [ReasonUpdate], [CreatedAt]) VALUES (N'659feb9a-cb2a-4ffd-a37f-70fb06e8893e', N'17239723-9977-4eba-a8dd-f83da1eaa413', N'Vacation', CAST(N'2026-05-24T21:00:00.0000000' AS DateTime2), CAST(N'2026-05-28T21:00:00.0000000' AS DateTime2), N'Rejected', N'97cd2093-d124-4f50-9499-c7bc4374809c', N'nu', CAST(N'2026-05-10T15:58:27.3594312' AS DateTime2))
INSERT [dbo].[EmployeeLeaves] ([Id], [EmployeeId], [LeaveType], [StartDate], [EndDate], [Status], [ApprovedBy], [ReasonUpdate], [CreatedAt]) VALUES (N'dceaf8b6-b124-4baa-a31c-fe22d81237e7', N'17239723-9977-4eba-a8dd-f83da1eaa413', N'Vacation', CAST(N'2026-06-22T21:00:00.0000000' AS DateTime2), CAST(N'2026-06-24T21:00:00.0000000' AS DateTime2), N'Approved', N'97cd2093-d124-4f50-9499-c7bc4374809c', NULL, CAST(N'2026-05-10T15:59:57.7287604' AS DateTime2))
GO
INSERT [dbo].[Employees] ([Id], [UserId], [FirstName], [LastName], [Email], [HireDate], [TerminationDate], [JobTitle], [EmploymentStatus], [Salary], [ContractType], [Notes], [CreatedAt], [UpdatedAt], [VacationDaysPerYear], [CarryOverDays]) VALUES (N'17239723-9977-4eba-a8dd-f83da1eaa413', N'97cd2093-d124-4f50-9499-c7bc4374809c', N'Andreea', N'Pop', N'alexandraianculescu2@gmail.com', CAST(N'2026-02-01T02:00:00.0000000' AS DateTime2), NULL, N'Profesor Engleza', N'Active', CAST(9000.00 AS Decimal(18, 2)), N'FullTime', N'', CAST(N'2026-05-10T15:52:39.2772468' AS DateTime2), NULL, 21, 0)
GO
SET IDENTITY_INSERT [dbo].[Guardians] ON 

INSERT [dbo].[Guardians] ([Id], [FirstName], [LastName], [Email], [Phone], [Address], [PersonalIdentificationNumber], [HasSignedConsent], [ConsentSignedAtUtc], [IsActive], [CreatedAtUtc], [UpdatedAtUtc]) VALUES (1, N'Alex', N'Popescu', N'alexandraianculescu2@gmail.com', N'076435555', NULL, NULL, 0, NULL, 1, CAST(N'2026-05-10T15:43:27.6978691' AS DateTime2), CAST(N'2026-05-10T15:43:27.6980373' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Guardians] OFF
GO
SET IDENTITY_INSERT [dbo].[MarketingCampaignCourseSessions] ON 

INSERT [dbo].[MarketingCampaignCourseSessions] ([Id], [MarketingCampaignId], [CourseSessionId]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[MarketingCampaignCourseSessions] OFF
GO
SET IDENTITY_INSERT [dbo].[MarketingCampaigns] ON 

INSERT [dbo].[MarketingCampaigns] ([Id], [Name], [Description], [StartDate], [EndDate], [IsActive], [DiscountType], [DiscountValue], [DiscountScope]) VALUES (1, N'Cupon reducere mai 2026', N'Cupon reducere mai 2026 pentru abonamente ', CAST(N'2026-05-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-05-31T00:00:00.0000000' AS DateTime2), 1, 1, CAST(15.00 AS Decimal(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[MarketingCampaigns] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [UserId], [EventType], [Title], [Message], [Type], [Link], [EntityType], [EntityId], [IsRead], [SeenAt], [ReadAt], [CreatedAt]) VALUES (1, N'97cd2093-d124-4f50-9499-c7bc4374809c', N'UserActivity', N'Roluri actualizate', N'Rolurile contului tău au fost actualizate: Admin, Teacher.', N'Info', N'/profil-user', N'User', N'97cd2093-d124-4f50-9499-c7bc4374809c', 0, NULL, NULL, CAST(N'2026-05-10T15:38:49.3757114' AS DateTime2))
INSERT [dbo].[Notifications] ([Id], [UserId], [EventType], [Title], [Message], [Type], [Link], [EntityType], [EntityId], [IsRead], [SeenAt], [ReadAt], [CreatedAt]) VALUES (2, N'97cd2093-d124-4f50-9499-c7bc4374809c', N'CourseActivity', N'Ai fost asignat la un curs', N'Ai fost asignat la cursul ''English Conversation B2'', sesiunea 1 18:00-19:00.', N'Info', N'/courses', N'Course', N'1', 0, NULL, NULL, CAST(N'2026-05-10T15:41:17.1345095' AS DateTime2))
INSERT [dbo].[Notifications] ([Id], [UserId], [EventType], [Title], [Message], [Type], [Link], [EntityType], [EntityId], [IsRead], [SeenAt], [ReadAt], [CreatedAt]) VALUES (3, N'97cd2093-d124-4f50-9499-c7bc4374809c', N'CourseActivity', N'Ai fost asignat la un curs', N'Ai fost asignat la cursul ''English Conversation B2'', sesiunea 4 18:00-19:00.', N'Info', N'/courses', N'Course', N'1', 0, NULL, NULL, CAST(N'2026-05-10T15:41:17.1485481' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([Id], [ContractId], [InstallmentId], [Amount], [PaidAtUtc], [Method], [Notes], [Reference], [Status], [CreatedAtUtc], [CreatedBy]) VALUES (1, 1, 1, CAST(170.00 AS Decimal(18, 2)), CAST(N'2026-05-10T16:22:57.8219671' AS DateTime2), N'Cash', N'', N'', N'Completed', CAST(N'2026-05-10T16:22:57.8220663' AS DateTime2), NULL)
INSERT [dbo].[Payments] ([Id], [ContractId], [InstallmentId], [Amount], [PaidAtUtc], [Method], [Notes], [Reference], [Status], [CreatedAtUtc], [CreatedBy]) VALUES (2, 1, 2, CAST(200.00 AS Decimal(18, 2)), CAST(N'2026-05-10T16:23:13.6807753' AS DateTime2), N'Card', N'', N'', N'Completed', CAST(N'2026-05-10T16:23:13.6807754' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
INSERT [dbo].[PublicHolidays] ([Id], [Date], [Name], [Country]) VALUES (N'2d17981d-1c46-4147-8c64-02a244eebf3c', CAST(N'2026-12-01T00:00:00.0000000' AS DateTime2), N'Ziua Națională/Marea Unire', N'RO')
INSERT [dbo].[PublicHolidays] ([Id], [Date], [Name], [Country]) VALUES (N'ca153ae2-c88d-4cb2-8989-22849e5ee425', CAST(N'2026-04-10T00:00:00.0000000' AS DateTime2), N'Vinerea mare', N'RO')
INSERT [dbo].[PublicHolidays] ([Id], [Date], [Name], [Country]) VALUES (N'56595d0f-3409-4a79-b27a-2df7c881e6dc', CAST(N'2026-01-24T00:00:00.0000000' AS DateTime2), N'Unirea Principatelor Române/Mica Unire', N'RO')
GO
SET IDENTITY_INSERT [dbo].[SigningTokens] ON 

INSERT [dbo].[SigningTokens] ([Id], [Token], [CreatedAtUtc], [ExpiresAtUtc], [IsUsed], [EntityType], [EntityId]) VALUES (1, N'4318761a-b7c1-4f5e-9829-b688521065e7', CAST(N'2026-05-10T16:17:28.2398396' AS DateTime2), CAST(N'2026-05-17T16:17:28.2398396' AS DateTime2), 1, 1, 1)
INSERT [dbo].[SigningTokens] ([Id], [Token], [CreatedAtUtc], [ExpiresAtUtc], [IsUsed], [EntityType], [EntityId]) VALUES (2, N'a8a858b8-de3c-430d-91a7-8ba22357f6e7', CAST(N'2026-05-10T16:20:57.4400144' AS DateTime2), CAST(N'2026-05-17T16:20:57.4400144' AS DateTime2), 1, 2, 1)
SET IDENTITY_INSERT [dbo].[SigningTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentContracts] ON 

SET IDENTITY_INSERT [dbo].[StudentContracts] OFF
GO
INSERT [dbo].[StudentGuardians] ([StudentId], [GuardianId], [RelationshipType], [IsPrimaryContact]) VALUES (1, 1, N'Tutore', 1)
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [FullName], [FirstName], [LastName], [Email], [Phone], [Address], [DateOfBirth], [IsActive], [IsDeleted], [DeletedAtUtc], [CreatedAtUtc], [UpdatedAtUtc]) VALUES (1, N'Popescu Ana Maria', N'Ana Mariaa', N'Popescu', N'alexandraianculescu2@gmail.com', N'076435555', N'Strada Catinei, Sector 6, Bcuresti', CAST(N'2014-06-09T00:00:00.0000000' AS DateTime2), 1, 0, NULL, CAST(N'2026-05-10T15:43:27.6788806' AS DateTime2), CAST(N'2026-05-10T15:43:36.9042740' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[UserNotificationSettings] ON 

INSERT [dbo].[UserNotificationSettings] ([Id], [UserId], [EventType], [Channel], [Enabled], [Digest], [UpdatedAt]) VALUES (1, N'97cd2093-d124-4f50-9499-c7bc4374809c', N'ContractActivity', N'InApp', 1, N'Immediate', CAST(N'2026-05-10T15:55:03.3061002' AS DateTime2))
INSERT [dbo].[UserNotificationSettings] ([Id], [UserId], [EventType], [Channel], [Enabled], [Digest], [UpdatedAt]) VALUES (2, N'97cd2093-d124-4f50-9499-c7bc4374809c', N'ContractActivity', N'Email', 1, N'Daily', CAST(N'2026-05-10T15:55:03.3226373' AS DateTime2))
INSERT [dbo].[UserNotificationSettings] ([Id], [UserId], [EventType], [Channel], [Enabled], [Digest], [UpdatedAt]) VALUES (3, N'97cd2093-d124-4f50-9499-c7bc4374809c', N'Employee', N'InApp', 1, N'Immediate', CAST(N'2026-05-10T15:55:03.3226842' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UserNotificationSettings] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ActivityLog_EntityType_EntityId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_ActivityLog_EntityType_EntityId] ON [dbo].[ActivityLog]
(
	[EntityType] ASC,
	[EntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractAdditionalAct_ContractId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_ContractAdditionalAct_ContractId] ON [dbo].[ContractAdditionalAct]
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractAdditionalActItem_ActId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_ContractAdditionalActItem_ActId] ON [dbo].[ContractAdditionalActItem]
(
	[ActId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractCourses_ContractId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_ContractCourses_ContractId] ON [dbo].[ContractCourses]
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractCourses_CourseSessionId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_ContractCourses_CourseSessionId] ON [dbo].[ContractCourses]
(
	[CourseSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractDiscounts_ContractId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_ContractDiscounts_ContractId] ON [dbo].[ContractDiscounts]
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractDiscounts_MarketingCampaignId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_ContractDiscounts_MarketingCampaignId] ON [dbo].[ContractDiscounts]
(
	[MarketingCampaignId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractInstallments_ContractId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_ContractInstallments_ContractId] ON [dbo].[ContractInstallments]
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractParties_ContractId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_ContractParties_ContractId] ON [dbo].[ContractParties]
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractParties_GuardianId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_ContractParties_GuardianId] ON [dbo].[ContractParties]
(
	[GuardianId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractParties_StudentId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_ContractParties_StudentId] ON [dbo].[ContractParties]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractPriceAdjustments_ContractId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_ContractPriceAdjustments_ContractId] ON [dbo].[ContractPriceAdjustments]
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractPriceAdjustments_CourseSessionId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_ContractPriceAdjustments_CourseSessionId] ON [dbo].[ContractPriceAdjustments]
(
	[CourseSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseEnrollments_ContractId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_CourseEnrollments_ContractId] ON [dbo].[CourseEnrollments]
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseEnrollments_CourseId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_CourseEnrollments_CourseId] ON [dbo].[CourseEnrollments]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseEnrollments_CourseSessionId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_CourseEnrollments_CourseSessionId] ON [dbo].[CourseEnrollments]
(
	[CourseSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseEnrollments_StudentId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_CourseEnrollments_StudentId] ON [dbo].[CourseEnrollments]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseSessions_CourseId_DayOfWeek_StartTime]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_CourseSessions_CourseId_DayOfWeek_StartTime] ON [dbo].[CourseSessions]
(
	[CourseId] ASC,
	[DayOfWeek] ASC,
	[StartTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CourseSessions_TeacherUserId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_CourseSessions_TeacherUserId] ON [dbo].[CourseSessions]
(
	[TeacherUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmailRecipientLogs_EmailLogId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmailRecipientLogs_EmailLogId] ON [dbo].[EmailRecipientLogs]
(
	[EmailLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeAddress_EmployeeId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EmployeeAddress_EmployeeId] ON [dbo].[EmployeeAddress]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeBank_EmployeeId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EmployeeBank_EmployeeId] ON [dbo].[EmployeeBank]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeContact_EmployeeId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EmployeeContact_EmployeeId] ON [dbo].[EmployeeContact]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeDocuments_EmployeeId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeDocuments_EmployeeId] ON [dbo].[EmployeeDocuments]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeLeaves_EmployeeId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeLeaves_EmployeeId] ON [dbo].[EmployeeLeaves]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employees_UserId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Employees_UserId] ON [dbo].[Employees]
(
	[UserId] ASC
)
WHERE ([UserId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employees_UserId_EmploymentStatus]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_UserId_EmploymentStatus] ON [dbo].[Employees]
(
	[UserId] ASC,
	[EmploymentStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MarketingCampaignCourseSessions_CourseSessionId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_MarketingCampaignCourseSessions_CourseSessionId] ON [dbo].[MarketingCampaignCourseSessions]
(
	[CourseSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MarketingCampaignCourseSessions_MarketingCampaignId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_MarketingCampaignCourseSessions_MarketingCampaignId] ON [dbo].[MarketingCampaignCourseSessions]
(
	[MarketingCampaignId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Notifications_EntityType_EntityId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_EntityType_EntityId] ON [dbo].[Notifications]
(
	[EntityType] ASC,
	[EntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Notifications_UserId_CreatedAt]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId_CreatedAt] ON [dbo].[Notifications]
(
	[UserId] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Notifications_UserId_IsRead]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId_IsRead] ON [dbo].[Notifications]
(
	[UserId] ASC,
	[IsRead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Notifications_UserId_IsRead_CreatedAt]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId_IsRead_CreatedAt] ON [dbo].[Notifications]
(
	[UserId] ASC,
	[IsRead] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_ContractId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_ContractId] ON [dbo].[Payments]
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_InstallmentId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_InstallmentId] ON [dbo].[Payments]
(
	[InstallmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StudentContracts_ContractNumber]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_StudentContracts_ContractNumber] ON [dbo].[StudentContracts]
(
	[ContractNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentContracts_CreatedAtUtc]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_StudentContracts_CreatedAtUtc] ON [dbo].[StudentContracts]
(
	[CreatedAtUtc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentContracts_StartDate]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_StudentContracts_StartDate] ON [dbo].[StudentContracts]
(
	[StartDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StudentContracts_Status]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_StudentContracts_Status] ON [dbo].[StudentContracts]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentGuardians_GuardianId]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_StudentGuardians_GuardianId] ON [dbo].[StudentGuardians]
(
	[GuardianId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Students_FullName]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_Students_FullName] ON [dbo].[Students]
(
	[FullName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserNotificationSettings_UserId_EventType_Channel]    Script Date: 5/10/2026 7:26:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserNotificationSettings_UserId_EventType_Channel] ON [dbo].[UserNotificationSettings]
(
	[UserId] ASC,
	[EventType] ASC,
	[Channel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (N'Info') FOR [Type]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (N'Completed') FOR [Status]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ContractAdditionalAct]  WITH CHECK ADD  CONSTRAINT [FK_ContractAdditionalAct_StudentContracts_ContractId] FOREIGN KEY([ContractId])
REFERENCES [dbo].[StudentContracts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContractAdditionalAct] CHECK CONSTRAINT [FK_ContractAdditionalAct_StudentContracts_ContractId]
GO
ALTER TABLE [dbo].[ContractAdditionalActItem]  WITH CHECK ADD  CONSTRAINT [FK_ContractAdditionalActItem_ContractAdditionalAct_ActId] FOREIGN KEY([ActId])
REFERENCES [dbo].[ContractAdditionalAct] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContractAdditionalActItem] CHECK CONSTRAINT [FK_ContractAdditionalActItem_ContractAdditionalAct_ActId]
GO
ALTER TABLE [dbo].[ContractCourses]  WITH CHECK ADD  CONSTRAINT [FK_ContractCourses_CourseSessions_CourseSessionId] FOREIGN KEY([CourseSessionId])
REFERENCES [dbo].[CourseSessions] ([Id])
GO
ALTER TABLE [dbo].[ContractCourses] CHECK CONSTRAINT [FK_ContractCourses_CourseSessions_CourseSessionId]
GO
ALTER TABLE [dbo].[ContractCourses]  WITH CHECK ADD  CONSTRAINT [FK_ContractCourses_StudentContracts_ContractId] FOREIGN KEY([ContractId])
REFERENCES [dbo].[StudentContracts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContractCourses] CHECK CONSTRAINT [FK_ContractCourses_StudentContracts_ContractId]
GO
ALTER TABLE [dbo].[ContractDiscounts]  WITH CHECK ADD  CONSTRAINT [FK_ContractDiscounts_MarketingCampaigns_MarketingCampaignId] FOREIGN KEY([MarketingCampaignId])
REFERENCES [dbo].[MarketingCampaigns] ([Id])
GO
ALTER TABLE [dbo].[ContractDiscounts] CHECK CONSTRAINT [FK_ContractDiscounts_MarketingCampaigns_MarketingCampaignId]
GO
ALTER TABLE [dbo].[ContractDiscounts]  WITH CHECK ADD  CONSTRAINT [FK_ContractDiscounts_StudentContracts_ContractId] FOREIGN KEY([ContractId])
REFERENCES [dbo].[StudentContracts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContractDiscounts] CHECK CONSTRAINT [FK_ContractDiscounts_StudentContracts_ContractId]
GO
ALTER TABLE [dbo].[ContractInstallments]  WITH CHECK ADD  CONSTRAINT [FK_ContractInstallments_StudentContracts_ContractId] FOREIGN KEY([ContractId])
REFERENCES [dbo].[StudentContracts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContractInstallments] CHECK CONSTRAINT [FK_ContractInstallments_StudentContracts_ContractId]
GO
ALTER TABLE [dbo].[ContractParties]  WITH CHECK ADD  CONSTRAINT [FK_ContractParties_Guardians_GuardianId] FOREIGN KEY([GuardianId])
REFERENCES [dbo].[Guardians] ([Id])
GO
ALTER TABLE [dbo].[ContractParties] CHECK CONSTRAINT [FK_ContractParties_Guardians_GuardianId]
GO
ALTER TABLE [dbo].[ContractParties]  WITH CHECK ADD  CONSTRAINT [FK_ContractParties_StudentContracts_ContractId] FOREIGN KEY([ContractId])
REFERENCES [dbo].[StudentContracts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContractParties] CHECK CONSTRAINT [FK_ContractParties_StudentContracts_ContractId]
GO
ALTER TABLE [dbo].[ContractParties]  WITH CHECK ADD  CONSTRAINT [FK_ContractParties_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[ContractParties] CHECK CONSTRAINT [FK_ContractParties_Students_StudentId]
GO
ALTER TABLE [dbo].[ContractPriceAdjustments]  WITH CHECK ADD  CONSTRAINT [FK_ContractPriceAdjustments_CourseSessions_CourseSessionId] FOREIGN KEY([CourseSessionId])
REFERENCES [dbo].[CourseSessions] ([Id])
GO
ALTER TABLE [dbo].[ContractPriceAdjustments] CHECK CONSTRAINT [FK_ContractPriceAdjustments_CourseSessions_CourseSessionId]
GO
ALTER TABLE [dbo].[ContractPriceAdjustments]  WITH CHECK ADD  CONSTRAINT [FK_ContractPriceAdjustments_StudentContracts_ContractId] FOREIGN KEY([ContractId])
REFERENCES [dbo].[StudentContracts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContractPriceAdjustments] CHECK CONSTRAINT [FK_ContractPriceAdjustments_StudentContracts_ContractId]
GO
ALTER TABLE [dbo].[CourseEnrollments]  WITH CHECK ADD  CONSTRAINT [FK_CourseEnrollments_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseEnrollments] CHECK CONSTRAINT [FK_CourseEnrollments_Courses_CourseId]
GO
ALTER TABLE [dbo].[CourseEnrollments]  WITH CHECK ADD  CONSTRAINT [FK_CourseEnrollments_CourseSessions_CourseSessionId] FOREIGN KEY([CourseSessionId])
REFERENCES [dbo].[CourseSessions] ([Id])
GO
ALTER TABLE [dbo].[CourseEnrollments] CHECK CONSTRAINT [FK_CourseEnrollments_CourseSessions_CourseSessionId]
GO
ALTER TABLE [dbo].[CourseEnrollments]  WITH CHECK ADD  CONSTRAINT [FK_CourseEnrollments_StudentContracts_ContractId] FOREIGN KEY([ContractId])
REFERENCES [dbo].[StudentContracts] ([Id])
GO
ALTER TABLE [dbo].[CourseEnrollments] CHECK CONSTRAINT [FK_CourseEnrollments_StudentContracts_ContractId]
GO
ALTER TABLE [dbo].[CourseEnrollments]  WITH CHECK ADD  CONSTRAINT [FK_CourseEnrollments_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseEnrollments] CHECK CONSTRAINT [FK_CourseEnrollments_Students_StudentId]
GO
ALTER TABLE [dbo].[CourseSessions]  WITH CHECK ADD  CONSTRAINT [FK_CourseSessions_AspNetUsers_TeacherUserId] FOREIGN KEY([TeacherUserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[CourseSessions] CHECK CONSTRAINT [FK_CourseSessions_AspNetUsers_TeacherUserId]
GO
ALTER TABLE [dbo].[CourseSessions]  WITH CHECK ADD  CONSTRAINT [FK_CourseSessions_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseSessions] CHECK CONSTRAINT [FK_CourseSessions_Courses_CourseId]
GO
ALTER TABLE [dbo].[EmailRecipientLogs]  WITH CHECK ADD  CONSTRAINT [FK_EmailRecipientLogs_EmailLogs_EmailLogId] FOREIGN KEY([EmailLogId])
REFERENCES [dbo].[EmailLogs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmailRecipientLogs] CHECK CONSTRAINT [FK_EmailRecipientLogs_EmailLogs_EmailLogId]
GO
ALTER TABLE [dbo].[EmployeeAddress]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeAddress_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeAddress] CHECK CONSTRAINT [FK_EmployeeAddress_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[EmployeeBank]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeBank_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeBank] CHECK CONSTRAINT [FK_EmployeeBank_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[EmployeeContact]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeContact_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeContact] CHECK CONSTRAINT [FK_EmployeeContact_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[EmployeeDocuments]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeDocuments_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeDocuments] CHECK CONSTRAINT [FK_EmployeeDocuments_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[EmployeeLeaves]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeLeaves_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeLeaves] CHECK CONSTRAINT [FK_EmployeeLeaves_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[MarketingCampaignCourseSessions]  WITH CHECK ADD  CONSTRAINT [FK_MarketingCampaignCourseSessions_CourseSessions_CourseSessionId] FOREIGN KEY([CourseSessionId])
REFERENCES [dbo].[CourseSessions] ([Id])
GO
ALTER TABLE [dbo].[MarketingCampaignCourseSessions] CHECK CONSTRAINT [FK_MarketingCampaignCourseSessions_CourseSessions_CourseSessionId]
GO
ALTER TABLE [dbo].[MarketingCampaignCourseSessions]  WITH CHECK ADD  CONSTRAINT [FK_MarketingCampaignCourseSessions_MarketingCampaigns_MarketingCampaignId] FOREIGN KEY([MarketingCampaignId])
REFERENCES [dbo].[MarketingCampaigns] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MarketingCampaignCourseSessions] CHECK CONSTRAINT [FK_MarketingCampaignCourseSessions_MarketingCampaigns_MarketingCampaignId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_ContractInstallments_InstallmentId] FOREIGN KEY([InstallmentId])
REFERENCES [dbo].[ContractInstallments] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_ContractInstallments_InstallmentId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_StudentContracts_ContractId] FOREIGN KEY([ContractId])
REFERENCES [dbo].[StudentContracts] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_StudentContracts_ContractId]
GO
ALTER TABLE [dbo].[StudentGuardians]  WITH CHECK ADD  CONSTRAINT [FK_StudentGuardians_Guardians_GuardianId] FOREIGN KEY([GuardianId])
REFERENCES [dbo].[Guardians] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentGuardians] CHECK CONSTRAINT [FK_StudentGuardians_Guardians_GuardianId]
GO
ALTER TABLE [dbo].[StudentGuardians]  WITH CHECK ADD  CONSTRAINT [FK_StudentGuardians_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentGuardians] CHECK CONSTRAINT [FK_StudentGuardians_Students_StudentId]
GO
USE [master]
GO
