<div class="act-page">

  <div class="header">
    <button class="back" (click)="goBack()">← Înapoi</button>
   <h2>
  {{ isEdit ? '✏️ Editează Act Adițional' : '➕ Act adițional' }}
</h2>
  </div>

  <div class="card">

    <!-- TIP ACT -->
    <div class="form-group">
      <label>Tip modificare</label>

      <div class="checkbox-list">

        <!-- ADD COURSE -->
        <label>
          <input type="checkbox" [disabled]="availableCourses.length === 0"
            [checked]="selectedTypes.includes('AddCourse')" (change)="toggleType('AddCourse')" />
          Adăugare curs
        </label>

        <div *ngIf="selectedTypes.includes('AddCourse')" class="sub-form">

          <ng-container *ngIf="availableCourses.length > 0">

            <select [(ngModel)]="selectedCourseId">
              <option *ngFor="let c of availableCourses" [value]="c.sessionId">
                {{ c.courseName }}
              </option>
            </select>

          </ng-container>

          <!-- <ng-template #noAvailableCourses>
            <div class="empty-message">
              ⚠️ Nu există cursuri disponibile pentru adăugare
            </div>
          </ng-template> -->

        </div>
        
            <div class="empty-message" *ngIf='availableCourses.length === 0'>
              ⚠️ Nu există cursuri disponibile pentru adăugare
            </div>
          

        <!-- REMOVE COURSE -->
        <label>
          <input type="checkbox" [disabled]="inactiveCourses.length === 0"
            [checked]="selectedTypes.includes('RemoveCourse')" (change)="toggleType('RemoveCourse')" />
          Eliminare curs
        </label>

        <div *ngIf="selectedTypes.includes('RemoveCourse')" class="sub-form">

          <ng-container *ngIf="inactiveCourses.length > 0">

            <select [(ngModel)]="selectedCourseId">
              <option *ngFor="let c of inactiveCourses" [value]="c.sessionId">
                {{ c.courseName }}
              </option>
            </select>

          </ng-container>

          <!-- <ng-template #noInactiveCourses>
            <div class="empty-message">
              ⚠️ Nu există cursuri în contract pentru eliminare
            </div>
          </ng-template> -->

        </div>
        
        <div class="empty-message" *ngIf='inactiveCourses.length === 0'>
              ⚠️ Nu există cursuri în contract pentru eliminare
            </div>

        <!-- EXTEND -->
        <label> <input type="checkbox" [checked]="selectedTypes.includes('ExtendPeriod')"
            (change)="toggleType('ExtendPeriod')" /> Prelungire contract </label>
        <div *ngIf="selectedTypes.includes('ExtendPeriod')" class="sub-form">

          <div class="current-value">
            📅 Durată actuală:
            <strong>
              <ng-container *ngIf="contract?.isUnlimited; else limited">
                Nelimitată
              </ng-container>

              <ng-template #limited>
                până la {{ contract?.endDate | date:'dd.MM.yyyy' }}
              </ng-template>
            </strong>
          </div>

          <label>Noua dată</label>
          <input type="date" [(ngModel)]="newEndDate" />

        </div>

        <!-- PRICE -->
        <label> <input type="checkbox" [checked]="selectedTypes.includes('ChangePrice')"
            (change)="toggleType('ChangePrice')" /> Modificare preț </label>
        <div *ngIf="selectedTypes.includes('ChangePrice')" class="sub-form">

          <div class="current-value">
            💰 Preț actual:
            <strong>{{ contract?.totalAmount }} RON</strong>
          </div>

          <label>Preț nou</label>
          <input type="number" [(ngModel)]="newPrice" />

          <div *ngIf="priceDiff !== null">
            Diferență:
            <strong [style.color]="priceDiff > 0 ? 'green' : 'red'">
              {{ priceDiff > 0 ? '+' : '' }}{{ priceDiff }} RON
            </strong>
          </div>

        </div>

      </div>
    </div>


    <!-- ACTIONS -->
    <div class="actions">
      <button class="secondary" (click)="goBack()">Anulează</button>
      <button class="primary" (click)="save()">
  {{ isEdit ? '💾 Salvează modificări' : '✔ Creează act' }}
</button>
    </div>

  </div>

</div>