<div class="card">

  <h2>Audit general</h2>

  <!-- FILTERS -->


  <div class="filters">

    <div class="filter-group">
      <label>Entitate</label>
      <ng-select [items]="entities" [(ngModel)]="filters.entity" [multiple]="true"
        [placeholder]="filters.entity?.length ? '' : 'Toate entitățile'" [searchable]="true" [clearable]="true"
        (change)="onFilterChange()">
      </ng-select>
    </div>

    <div class="filter-group">
      <label>Acțiune</label>
      <ng-select [items]="actions" [(ngModel)]="filters.action" [multiple]="true"
        [placeholder]="filters.action?.length ? '' : 'Toate acțiunile'" [searchable]="true" [clearable]="true"
        (change)="onFilterChange()">
      </ng-select>
    </div>

    <div class="filter-group">
      <label>Utilizator</label>
      <ng-select [items]="users" [(ngModel)]="filters.performedBy" [multiple]="true"
        [placeholder]="filters.performedBy?.length ? '' :'Toți utilizatorii'" [searchable]="true" [clearable]="true"
        (change)="onFilterChange()">
      </ng-select>
    </div>

    <div class="filter-group">
      <label>Perioadă</label>
      <app-date-range-picker [from]="filters.from" [to]="filters.to" (rangeChange)="onDateChange($event)">
      </app-date-range-picker>
    </div>

  </div>

  <!-- LOADING -->
  <div *ngIf="loading" class="loading">
    Se încarcă...
  </div>

  <!-- EMPTY -->
  <div *ngIf="!loading && groupedLogs.length === 0">
    Nu există activitate.
  </div>

  <!-- GROUPS -->
  <div *ngFor="let group of groupedLogs" class="log-group">

    <div class="group-title">
      {{ group.label }}
    </div>

    <div *ngFor="let log of group.logs" class="log-item" [ngClass]="{
           'log-create': log.action === 'Create',
           'log-update': log.action === 'Update',
           'log-delete': log.action === 'Delete'
         }">

      <div class="log-meta">
        {{ log.createdAtUtc | date:'HH:mm' }} |
        <span>{{ log.entityType }} #{{ log.entityId }}</span>
      </div>

      <div class="log-text">
        {{ log.description || log.action }}
      </div>

    </div>

  </div>

  <div class="pagination" *ngIf="totalPages >= 1">

    <button (click)="prevPage()" [disabled]="filters.page === 1">
      ← Previous
    </button>

    <span>
      Page {{ filters.page }} of {{ totalPages }}
    </span>

    <button (click)="nextPage()" [disabled]="filters.page === totalPages">
      Next →
    </button>

  </div>


</div>