<div class="container">

    <h2>HR Dashboard</h2>

    <div class="stats">

        <div class="card">
            <h3>{{dashboard?.totalEmployees}}</h3>
            <p>Total Employees</p>
        </div>

        <div class="card">
            <h3>{{dashboard?.activeEmployees}}</h3>
            <p>Active</p>
        </div>

        <div class="card">
            <h3>{{dashboard?.terminatedEmployees}}</h3>
            <p>Terminated</p>
        </div>

        <div class="card">
            <h3>{{dashboard?.newHiresThisMonth}}</h3>
            <p>New Hires</p>
        </div>

    </div>

    <div class="toolbar">

        <input type="text" placeholder="Search employee..." [(ngModel)]="searchText" class="search" />

    </div>

    <button class="btn primary" (click)="openCreate()">
        Add Employee
    </button>

   
    <table>

        <thead>
            <tr>
                <th>Name</th>
                <th>Job</th>
                <th>Status</th>
                <th>Hire Date</th>
                <th>Salary</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let employee of filteredEmployees()">

                <td>
                    {{employee.firstName}} {{employee.lastName}}
                </td>

                <td>
                    {{employee.jobTitle}}
                </td>

                <td>

                    <span *ngIf="employee.employmentStatus === 'Active'" class="badge success">
                        Active
                    </span>

                    <span *ngIf="employee.employmentStatus === 'Terminated'" class="badge danger">
                        Terminated
                    </span>

                </td>

                <td>
                    {{employee.hireDate | date:'shortDate'}}
                </td>

                <td>
                    {{employee.salary}}
                </td>

                <td class="actions-cell">

    <button class="btn info" (click)="viewDetails(employee)">
        Details
    </button>

    <!-- <button class="btn danger" (click)="terminateEmployee(employee)"
        *ngIf="employee.employmentStatus === 'Active'">
        Terminate
    </button> -->

</td>

            </tr>

        </tbody>

    </table>

</div>

<app-add-employees
  *ngIf="showCreate"
  (close)="cancelCreate()"
  (created)="onEmployeeCreated()">
</app-add-employees>