<div class="overlay" *ngIf="isOpen" (click)="close(false)">
  <div class="modal" (click)="$event.stopPropagation()">

    <h2>{{ title }}</h2>

    <p>{{ message }}</p>

     <!-- 🔥 COPY BUTTON -->
    <div *ngIf="copyText" class="copy-box">
      <span>{{ copyText }}</span>

      <button (click)="copyToClipboard()" class="copy-btn">
        📋 Copy
      </button>
    </div>

    <div class="actions">
      <button class="btn-cancel" (click)="close(false)">
        {{ cancelText }}
      </button>

      <button class="btn-confirm" (click)="close(true)">
        {{ confirmText }}
      </button>
    </div>

  </div>
</div>
