<div class="modal-container">
  <div class="modal-header">
    {{ mode === 'course' ? 'Înscriere cursanți' : 'Înscriere la curs' }}
    <span class="count" *ngIf="!loading">
      {{ students.length }} rezultate
    </span>
  </div>

  <div class="search-wrapper">
    <span class="search-icon">🔎</span>
    <input [(ngModel)]="q" (input)="load()" placeholder="Caută după nume..." class="search" />
  </div>

  <div *ngIf="loading" class="loading">
    {{ mode === 'course' ? 'Se încarcă cursanții...' : 'Se încarcă cursurile...' }}
  </div>

  <div class="student-item" *ngFor="let s of students">

    <div class="student-info">

      <!-- CURS -> afișezi studenți -->
      <ng-container *ngIf="mode === 'course'; else courseTemplate">

        <div class="name">{{ s.fullName }}</div>
        <div class="email">{{ s.email || '-' }}</div>

      </ng-container>

      <!-- STUDENT -> afișezi cursuri -->
      <ng-template #courseTemplate>

        <div class="name">{{ s.courseName }}</div>

        <div class="email">
          {{ s.teacherName }} • {{ s.dayOfWeek }}
          {{ s.startTime }} - {{ s.endTime }}
        </div>

      </ng-template>

    </div>

    <button class="btn-enroll" (click)="enroll(s)">
      Înscrie
    </button>

  </div>
  <div *ngIf="!loading && !students.length" class="empty-state">
    {{ mode === 'course' ? 'Nu există cursanți disponibili.' : 'Nu există cursuri disponibile.' }}
  </div>

  <div class="modal-actions">
    <button class="btn-close" (click)="close()">
      Închide
    </button>
  </div>

</div>