<div class="details-container" *ngIf="!loading && student">

  <div class="student-header">
    <div class="student-info">
      <div class="avatar">
        {{ student.firstName?.charAt(0) }}{{ student.lastName?.charAt(0) }}
      </div>

      <div class="student-text">
        <h2>{{ student.fullName }}</h2>

        <div class="meta">
          <span class="status" [class.active]="student.isActive">
            {{ student.isActive ? 'Activ' : 'Inactiv' }}
          </span>

          <!-- <span class="financial-warning" *ngIf="student.hasDebt">
            Restanțe
          </span> -->
        </div>
      </div>
    </div>

    <div class="actions">
      <button class="secondary" (click)="goBack()">Înapoi</button>
    </div>
  </div>

  <div class="tabs">
    <button *ngFor="let tab of tabs" [class.active]="activeTab === tab" (click)="onTabChange(tab)">
      {{ tab }}
    </button>
  </div>

  <div class="tab-content">
    <div class="tab-content">

      <!-- ================= INFORMAȚII ================= -->
      <div *ngIf="activeTab === 'Informații'" class="card">

        <div class="section-header">
          <h3>Informații personale</h3>

          <button class="primary edit-btn" (click)="openEdit(student.id)">
            ✏️ Editează
          </button>
        </div>

        <div class="info-grid modern">

          <div class="info-box">
            <label>Email</label>
            <span>{{ student.email || '-' }}</span>
          </div>

          <div class="info-box">
            <label>Telefon</label>
            <span>{{ student.phone || '-' }}</span>
          </div>

          <div class="info-box">
            <label>Adresă</label>
            <span>{{ student.address || '-' }}</span>
          </div>

          <div class="info-box">
            <label>Data nașterii</label>
            <span>
              {{ student.dateOfBirth ? (student.dateOfBirth | date:'dd.MM.yyyy') : '-' }}
            </span>
          </div>

        </div>

        <h3 class="section-title">Părinți / Tutori</h3>

        <div *ngIf="student.guardians?.length; else noGuardians">

          <div class="guardian-card" *ngFor="let g of student.guardians">

            <div class="guardian-top">
              <div class="guardian-name">
                {{ g.firstName }} {{ g.lastName }}
              </div>

              <span class="primary-badge" *ngIf="g.isPrimaryContact">
                ⭐ Contact principal
              </span>
            </div>

            <div class="guardian-grid">

              <div class="guardian-item">
                <label>Relație</label>
                <span>{{ g.relationshipType }}</span>
              </div>

              <div class="guardian-item">
                <label>Email</label>
                <span>{{ g.email }}</span>
              </div>

              <div class="guardian-item">
                <label>Telefon</label>
                <span>{{ g.phone }}</span>
              </div>
            </div>
          </div>
        </div>

        <ng-template #noGuardians>
          <p class="empty-state">Nu există tutori asociați.</p>
        </ng-template>

      </div>


      <!-- ================= CURSURI ================= -->
      <div *ngIf="activeTab === 'Cursuri'" class="card">

        <div class="courses-header">

          <div class="courses-left">
            <h3>Cursuri înscrise</h3>
            <span class="courses-count">
              {{ courses.length }} cursuri active
            </span>
          </div>

          <div class="courses-right">

            <div class="total-box" *ngIf="courses.length">
              <span>Total</span>
              <strong>{{ totalAmount }} RON</strong>
            </div>

            <button class="primary small" (click)="openEnrollModal()">
              ➕ Înscrie la curs
            </button>
          </div>
        </div>

        <!-- 🟢 ACTIVE -->
        <div *ngIf="courses.length; else noCourses">

          <div *ngFor="let c of courses" class="course-card">

            <div class="course-main">
              <div class="course-title-row">
                <h4>{{ c.courseName }}</h4>
                <span class="day-badge">{{ getRomanianDay(c.dayOfWeek) }}</span>
              </div>

              <div class="course-meta">
                <span class="time">
                  {{ c.startTime }} - {{ c.endTime }}
                </span>

                <span class="teacher">
                  👨‍🏫 {{ c.teacherName }}
                </span>
              </div>
            </div>


            <div class="course-price">
              <div class="price-value">
                {{ c.price }} RON
              </div>

              <button class="btn-remove" (click)="deactivateEnrollment(c)">
                ❌ Scoate
              </button>
            </div>
          </div>
        </div>

        <!-- 🔴 INACTIVE -->
        <div *ngIf="inactiveCourses?.length">

          <h3 class="section-title">Cursuri încheiate</h3>

          <div *ngFor="let c of inactiveCourses" class="course-card inactive">

            <div class="course-main">
              <span class="badge inactive">Încheiat</span>
              <div class="course-title-row">
                <h4>{{ c.courseName }}</h4>
                <span class="day-badge">{{ getRomanianDay(c.dayOfWeek) }}</span>
              </div>

              <div class="course-meta">
                <span class="time">
                  {{ c.startTime }} - {{ c.endTime }}
                </span>

                <span class="teacher">
                  👨‍🏫 {{ c.teacherName }}
                </span>
              </div>
            </div>

            <div class="ended">
              Scos la: {{ c.endedAtUtc | date:'dd.MM.yyyy' }}
            </div>

          </div>

        </div>

        <!-- EMPTY -->
        <ng-template #noCourses>
          <div class="empty-state">
            Elevul nu este înscris la niciun curs.
          </div>
        </ng-template>

      </div>

      <!-- FINANCIAR -->
      <div *ngIf="activeTab === 'Financiar'" class="card financiar-card">
        <div class="contract-selector" *ngIf="contractsList?.length">

          <label>Selectează contract:</label>

          <select [ngModel]="contract?.id" (ngModelChange)="onSelectContract($event)">

            <option *ngFor="let c of contractsList" [value]="c.id">
              #{{ c.contractNumber }} - {{ c.displayTotal }} - {{ c.status }}
            </option>

          </select>

        </div>
        <!-- CONTRACT SELECTAT (SUS) -->
        <div *ngIf="contract; else noContract" class="contract-wrapper selected">

          <div class="contract-card highlight">

            <div class="contract-left">

              <div class="contract-header">
                <h2>Contract #{{ contract.contractNumber }}</h2>

                <span class="status-badge" [ngClass]="contract.status">
                  {{ contract.status }}
                </span>
              </div>

              <div *ngIf="isExpired()" class="alert danger">
                ⚠️ Contractul a expirat
              </div>

              <div *ngIf="isExpiringSoon()" class="alert warning">
                ⏳ Expiră în {{ daysLeft }} zile
              </div>

              <div class="contract-meta">
                <span>📅 {{ contract.startDate | date:'dd.MM.yyyy' }}</span>

                <span *ngIf="contract.endDate">
                  ⏳ {{ contract.endDate | date:'dd.MM.yyyy' }}
                </span>
              </div>

              <div class="finance-summary">
                <div class="box total">
                  <span>Total</span>
                  <strong>{{ total }} RON</strong>
                </div>

                <div class="box paid">
                  <span>Plătit</span>
                  <strong>{{ paid }} RON</strong>
                </div>

                <div class="box remaining">
                  <span>Rest</span>
                  <strong>{{ remaining }} RON</strong>
                </div>
              </div>

            </div>

            <div class="contract-actions">
              <button class="primary" (click)="handleContractAction()" [disabled]="contractAction === 'waiting'">

                {{ getContractButtonText() }}
              </button>

              <button class="secondary" *ngIf="contractAction !== 'view'" (click)="openContract(contract.id)">
                📄 Vizualizează
              </button>
            </div>

          </div>
        </div>


        <!-- EMPTY -->
        <ng-template #noContract>
          <div class="empty-contract">
            <h2>📄 Nu există contracte</h2>

            <button class="primary" (click)="createContract()">
              ➕ Creează contract
            </button>
          </div>
        </ng-template>

        <!-- ACTE -->
        <div class="section" *ngIf="contract?.status === 'Active'">

          <div class="section-header">
            <h3>📎 Acte adiționale</h3>
            <button class="primary" (click)="createAct()">➕ Adaugă Act</button>
          </div>

          <div *ngIf="!acts?.length" class="empty">
            Nu există acte adiționale.
          </div>

          <div class="act-list">
            <div *ngFor="let act of acts" class="act-card">

              <div class="act-top">
                <strong>{{ act.actNumber }}</strong>

                <span class="status" [ngClass]="act.status.toLowerCase()">
                  {{ act.status }}
                </span>
              </div>

              <div class="act-description">
                {{ act.description }}
              </div>

              <button class="ghost" (click)="openAct(act.id)">
                👁 Vezi
              </button>

            </div>
          </div>

        </div>

        <!-- RATE -->
        <div class="section" *ngIf="contract && installments?.length">

          <h3>💰 Rate</h3>

          <table class="installments-table">
            <thead>
              <tr>
                <th>Scadență</th>
                <th>Valoare</th>
                <th>Plătit</th>
                <th>Rest</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let i of installments">

                <td>{{ i.dueDate | date:'dd.MM.yyyy' }}</td>
                <td>{{ i.amount }}</td>
                <td>{{ i.paidAmount }}</td>
                <td>{{ i.amount - i.paidAmount }}</td>

                <td>
                  <span class="badge" [ngClass]="getInstallmentClass(i)">
                    {{ getInstallmentStatus(i) }}
                  </span>
                </td>

                <td>
                  <button *ngIf="i.paidAmount < i.amount" class="pay-btn" (click)="openPayModal(i)">
                    💳 Marchează ca plătit
                  </button>
                </td>

              </tr>
            </tbody>
          </table>

        </div>

        <!-- PAYMENTS -->
        <div class="section" *ngIf="payments?.length">

          <h3>📜 Istoric plăți</h3>

          <div class="payment-list">
            <div *ngFor="let p of payments" class="payment-item">

              <div class="left">
                <strong>{{ p.amount }} RON</strong>
                <div class="sub">{{ p.paidAtUtc | date:'dd.MM.yyyy HH:mm' }}</div>
              </div>

              <div class="method">{{ p.method }}</div>

              <div class="sub">
                Rata #{{ p.installmentId }}
              </div>

            </div>
          </div>

        </div>

      </div>

      <!-- ISTORIC -->
      <div *ngIf="activeTab === 'Istoric'" class="card">
        <h3>Istoric activitate</h3>

        <div *ngIf="activityLogs?.length === 0">
          Nu există activitate.
        </div>

        <div *ngFor="let log of activityLogs" class="log-item" [ngClass]="{
            'log-create': log.action === 'Create',
            'log-update': log.action === 'Update',
            'log-delete': log.action === 'Delete',
            'log-enroll': log.action === 'Enroll'
            }">

          <div class="log-date">
            {{ log.createdAtUtc | date:'dd.MM.yyyy HH:mm' }}
          </div>

          <!-- description -->
          <div *ngIf="log.description; else fallback">
            {{ log.description }}
          </div>

          <!-- fallback -->
          <ng-template #fallback>

            <div><b>{{ log.action }}</b></div>

            <div *ngFor="let key of objectKeys(log.newValues)">
              <b>{{ key }}</b>:
              {{ log.oldValues[key] ?? '-' }} → {{ log.newValues[key] ?? '-' }}
            </div>

          </ng-template>

        </div>
      </div>


      <div *ngIf="activeTab === 'Evaluări profesor'" class="card">
        <div class="section-header">
          <h3>Evaluări primite de la profesori</h3>
        </div>
        <div class="tabs">
          <button [class.active]="studentTab === 'evaluations'" (click)="setStudentTab('evaluations')">
            Evaluări
          </button>

          <button [class.active]="studentTab === 'analytics'" (click)="setStudentTab('analytics')">
            Analiză AI
          </button>
        </div>
        <div *ngIf="studentTab === 'evaluations'">

          <div *ngIf="loadingEvaluations">
            Se încarcă evaluările...
          </div>

          <div *ngIf="!loadingEvaluations && !studentEvaluations?.length" class="empty-state">
            Nu există evaluări pentru acest cursant.
          </div>

          <div class="evaluation-list" *ngIf="!loadingEvaluations && studentEvaluations?.length">
            <div class="evaluation-card" *ngFor="let ev of studentEvaluations">
              <div class="evaluation-top">
                <div>
                  <strong>{{ ev.teacherName }}</strong>
                  <div class="sub">
                    {{ ev.createdAt | date:'dd.MM.yyyy HH:mm' }}
                  </div>
                </div>

                <span class="rating-badge">
                  {{ ev.rating }}/5
                </span>
              </div>

              <div class="evaluation-scores">
                <div>
                  <label>Prezență</label>
                  <strong>{{ ev.attendanceScore || '-' }}/5</strong>
                </div>

                <div>
                  <label>Comportament</label>
                  <strong>{{ ev.behaviorScore || '-' }}/5</strong>
                </div>

                <div>
                  <label>Progres</label>
                  <strong>{{ ev.progressScore || '-' }}/5</strong>
                </div>
              </div>

              <p class="evaluation-comment" *ngIf="ev.comment">
                {{ ev.comment }}
              </p>

              <div class="ai-analysis" *ngIf="ev.sentiment">
                <div class="ai-header">
                  <strong>Analiză AI</strong>

                  <span class="sentiment" [ngClass]="ev.sentiment">
                    {{ ev.sentiment }}
                  </span>
                </div>

                <div class="ai-grid">
                  <div>
                    <label>Scor sentiment</label>
                    <strong>{{ ev.sentimentScore }}</strong>
                  </div>

                  <div>
                    <label>Pozitiv</label>
                    <strong>{{ ev.positivePercent || 0 }}%</strong>
                  </div>

                  <div>
                    <label>Negativ</label>
                    <strong>{{ ev.negativePercent || 0 }}%</strong>
                  </div>

                  <div>
                    <label>Risc cursant</label>
                    <strong>{{ ev.studentRiskScore || 0 }}%</strong>
                  </div>
                </div>

                <div class="ai-tags" *ngIf="ev.keywords">
                  <span *ngFor="let keyword of ev.keywords.split(',')">
                    {{ keyword.trim() }}
                  </span>
                </div>

                <div class="risk-warning" *ngIf="ev.studentRiskScore >= 60">
                  ⚠️ Cursant cu risc ridicat
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="studentTab === 'analytics'">

          <div *ngIf="loadingStudentAnalytics" class="empty-state">
            Se încarcă analiza AI...
          </div>

          <div *ngIf="!loadingStudentAnalytics && !studentAnalytics" class="empty-state">
            Nu există date suficiente.
          </div>

          <div *ngIf="!loadingStudentAnalytics && studentAnalytics">

            <div class="summary-card">
              <div>
                <strong>Rating mediu</strong>
                <span>{{ studentAnalytics.averageRating }}/5</span>
              </div>

              <div>
                <strong>Prezență</strong>
                <span>{{ studentAnalytics.averageAttendanceScore }}/5</span>
              </div>

              <div>
                <strong>Progres</strong>
                <span>{{ studentAnalytics.averageProgressScore }}/5</span>
              </div>

              <div>
                <strong>Risc AI</strong>
                <span>{{ studentAnalytics.averageRiskScore }}%</span>
              </div>
            </div>

            <div class="ai-analysis">
              <strong>Insight principal</strong>
              <p>{{ studentAnalytics.mainInsight }}</p>
            </div>

            <div class="ai-analysis">
              <strong>Rezumat</strong>
              <p>{{ studentAnalytics.summary }}</p>
            </div>

            <div class="ai-analysis" *ngIf="studentAnalytics.topProblems?.length">
              <strong>Top probleme</strong>

              <div *ngFor="let p of studentAnalytics.topProblems">
                {{ p.name }} ({{ p.percent }}%)
              </div>
            </div>

            <div class="ai-analysis" *ngIf="studentAnalytics.alerts?.length">
              <strong>Alerte</strong>

              <div *ngFor="let a of studentAnalytics.alerts">
                ⚠️ {{ a }}
              </div>
            </div>

            <div class="ai-analysis" *ngIf="studentAnalytics.recommendations?.length">
              <strong>Recomandări</strong>

              <div *ngFor="let r of studentAnalytics.recommendations">
                🤖 {{ r }}
              </div>
            </div>

            <div class="ai-analysis" *ngIf="studentAnalytics.trend?.length">
              <strong>Trend</strong>

              <div class="chart-wrapper">
                <canvas id="studentTrendChart"></canvas>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>