<div class="report-modal" *ngIf="isOpen">

  <div
    class="report-modal-backdrop"
    (click)="close()">
  </div>

  <div class="report-modal-content">

    <div class="report-modal-header">

  <div>
    <p>Business Intelligence</p>

    <h2>{{ title }}</h2>

    <span>
      {{ reports[currentIndex]?.title }}
    </span>
  </div>

  <div class="header-actions">

    <div
      class="report-switcher"
      *ngIf="reports.length > 1">

      <button
        (click)="prev()"
        [disabled]="currentIndex === 0">

        ‹ Înapoi
      </button>

      <strong>
        {{ currentIndex + 1 }}
        /
        {{ reports.length }}
      </strong>

      <button
        (click)="next()"
        [disabled]="currentIndex === reports.length - 1">

        Înainte ›
      </button>

    </div>

    <button
      class="close-btn"
      (click)="close()">

      ✕
    </button>

  </div>

</div>

    

    <iframe
      [src]="reports[currentIndex]?.safeUrl"
      allowfullscreen="true">
    </iframe>

  </div>

</div>